@page "/notification"

@using System.IO;
@using HayaiFE.Services;
@using HayaiFE.Data;
@using HayaiFE.Models;
@inject CreateExcel service
@inject ExamDataService examDataService
@inject Microsoft.JSInterop.IJSRuntime JS
@inject TeacherDataService TdService
@inject SummaryService SummaryService
@attribute [Authorize]

<MudText>@FileName</MudText>
<MudButton Variant="Variant.Filled" OnClick="OutSideBlock">Download</MudButton>
<h1>@TdService.GetTeacherData().Count</h1>
@code {
    MemoryStream excelStream;


    public string FileName = "OutSideBlock.pdf";
    private async Task OutSideBlock()
    {
        
        int TotalStudents = examDataService.GetSavedExams().Sum(e => e.StudentCount);
        // Generate the document in a background thread
        excelStream = await Task.Run(() => service.CreateDocument(examDataService.GetSavedExams(), TotalStudents , SummaryService.GetSummary()));

        // Convert to byte array and trigger download
        await JS.InvokeVoidAsync("saveAsFile", FileName, Convert.ToBase64String(excelStream.ToArray()));
    }
}
